a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Helvetica, Verdana, sans-serif;
    color: #332C2B;
    background-color: #FFD090;
    height: 100%;
    overflow-x: hidden;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

div#root {
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -0.05em;
}

button {
    background: #5A2500;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 20px 40px;
}
